.Parent {
  height: 100%;
  width: 100%;
  padding: 0;
  //overflow: hidden;
}

.main_header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 22%;

  margin-right: 22%;
  font-size: 50px;
  height: 100px;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 3;
  padding-top: 30px;
}

.name {
  font-size: xx-large;
  padding-right: 40px;
}

.main_navbar {
  display: flex;
  margin-left: 24%;
  justify-content: space-between;
  padding-right: 10%;
}

.labels {
  font-size: x-large;
  cursor: pointer;
  padding-right: 10%;
  padding-top: 5px;
}

.label {
  padding-left: 20px;
  padding-right: 20px;
}

.label:hover {
  transition-delay: 0.1s;
  border-radius: 2%;
  background-color: aliceblue;
}
.selected {
  padding-left: 20px;
  padding-right: 20px;
  background-image: linear-gradient(
    107.72deg,
    #1a26c8 -54.49%,
    #243cff 17.32%,
    #d62ec0 86.99%,
    #f37777 151.29%
  ) !important;
  border-radius: 10px;
}
.canter_screen_main_parent {
  padding-top: 250px;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 100px;
  //overflow-y: scroll;
}

.about_heading {
  padding-bottom: 50px;
  font-size: 40px;
}

.about_detail {
  padding-right: 50px;
}

.about_imagecard {
  background: radial-gradient(circle at 20% 20%, #5ec9ab 25%, #ffffff 100%);
  padding-top: 20px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 80px;
  border-radius: 2%;
}

.about_imagecard img {
  border-radius: 50%;
  height: 150px;
  width: 150px;

  margin-bottom: 80px;
}
